<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Booking</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Booking</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Current Active Booking</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Pick Up</th>
                    <th>Drop Off</th>
                    <th>Payment</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="this.filterActive()?.length == 0">
                    <td colspan="7">No Booking Found</td>
                  </tr>
                  <tr *ngFor="let c of this.filterActive(); let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.startLocName}}</td>
                    <td>{{c.endLocName}}</td>
                    <td>{{c.payment}}</td>
                    <td></td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekDetail(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">New Requested Booking</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Customer</th>
                    <th>Start Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="this.filterRequested()?.length == 0">
                    <td colspan="6">No Booking Found</td>
                  </tr>
                  <tr *ngFor="let c of this.filterRequested(); let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.customer}}</td>
                    <td>{{c.startTime | date}}</td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekDetail(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="card card-default" *ngIf="false">
            <div class="card-header">
              <h3 class="card-title">Insert Manual Booking</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="form-group">
                <input placeholder="User ID" class="form-control form-control-sm" type="text">
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <input placeholder="Pick Up Location" class="form-control form-control-sm" type="text"
                    (input)="fetchLocation($event, true)" [(ngModel)]="textDropOff">
                </div>
                <div class="form-group col-6">
                  <input placeholder="Drop Off Location" class="form-control form-control-sm" type="text"
                    (input)="fetchLocation($event, false)" [(ngModel)]="textPickUp">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <input placeholder="Promo Code" class="form-control form-control-sm" type="text">
                </div>
                <div class="form-group col-9">
                  <input placeholder="Note" class="form-control form-control-sm" type="text">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">All Booking</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Customer</th>
                    <th>Driver</th>
                    <th>Pick Up</th>
                    <th>Drop Off</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th [width]="1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="booking?.length == 0">
                    <td colspan="6">No Booking Found</td>
                  </tr>
                  <tr *ngFor="let c of this.booking; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.customer}}</td>
                    <td>{{c.driver}}</td>
                    <td>{{c.startLocName}}</td>
                    <td>{{c.endLocName}}</td>
                    <td>{{c.payment}}</td>
                    <td *ngIf="c.status==0">Waiting</td>
                    <td *ngIf="c.status==1">On Progress</td>
                    <td *ngIf="c.status==2">Canceled</td>
                    <td *ngIf="c.status==3">Finished</td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekDetail(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
