<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Booking Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="text-primary" (click)="router.navigate([''])">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a class="text-primary"
                                (click)="router.navigate(['user/booking'])">Booking</a></li>
                        <li class="breadcrumb-item active">{{this.id}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row g-5">
                <div class=" col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Booking Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table p-3">
                                <tr>
                                    <td>Customer</td>
                                    <td>{{this.booking?.customer}}</td>
                                </tr>
                                <tr>
                                    <td>Driver</td>
                                    <td>{{this.booking?.driver??"Not yet."}}</td>
                                </tr>
                                <tr>
                                    <td>Payment</td>
                                    <td>{{this.booking?.payment}}</td>
                                </tr>
                                <tr>
                                    <td>Start Time</td>
                                    <td>{{this.booking?.startTime | date:'short'}}</td>
                                </tr>
                                <tr>
                                    <td>Start Location</td>
                                    <td>{{this.booking?.startLocName}}</td>
                                </tr>
                                <tr>
                                    <td>End Location</td>
                                    <td>{{this.booking?.endLocName}}</td>
                                </tr>
                                <tr>
                                    <td>End Time</td>
                                    <td>{{this.booking?.endTime | date:'short'}}</td>
                                </tr>
                                <tr>
                                    <td>Total KM</td>
                                    <td>{{this.booking?.totalKM}}</td>
                                </tr>
                                <tr>
                                    <td>Note</td>
                                    <td>{{this.booking?.note?? '(Empty)'}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{this.booking?.status}}</td>
                                </tr>
                                <tr>
                                    <td>Rating</td>
                                    <td>{{(this.booking?.rating == 0) ? '(Not rating yet)' :this.booking?.rating}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Maps</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="map" style="height: 200px" id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- [leafletOptions]="options"
[leafletLayersControl]="layersControl" -->
