<div class="login-page">
  <div class="login-box mx-auto">
    <div class="login-logo">
      <a href="../../index2.html"><b>Admin</b>TAXI</a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        class="form"
        novalidate
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            minlength="3"
            maxlength="20"
            #name="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
          />
          <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
            <div *ngIf="name.errors['required']">Username is required</div>
            <div *ngIf="name.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="name.errors['maxlength']">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="text"
            class="form-control"
            email="email"
            [(ngModel)]="form.email"
            required
            minlength="3"
            maxlength="20"
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['minlength']">
              Email must be at least 3 characters
            </div>
            <div *ngIf="email.errors['maxlength']">
              Email must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="repassword">Re-password</label>
          <input
            id="repassword"
            type="password"
            class="form-control"
            name="repassword"
            required
            minlength="6"
            [(ngModel)]="form.repassword"
            #repassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && repassword != password}"
          />
          <div class="invalid-feedback" *ngIf="repassword.errors && f.submitted">
            <div *ngIf="repassword.errors['required']">Password is required</div>
            <div *ngIf="repassword.errors['minlength']">
              Password must be at least 6 characters
            </div>
            <div *ngIf="repassword.errors['mismatch']">Missmatch password</div>
          </div>
        </div>
        <div class="form-group">
          <label>Type</label>
          <select class="form-control"
          name="selectedType"
          #selectedType="ngModel"
          [(ngModel)]="form.selectedType"
          (change)="onTypeChange()"
          >
          <option [ngValue]="null" disabled>Select</option>
              <option *ngFor="let utype of typeU" [ngValue]="utype.value">{{utype.name}}</option>
          </select>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>

      <a (click)="route.navigate(['auth/signin'])">Already have an account</a>
    </div>
  </div>
  </div>
</div>
