<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;" *ngIf="isLoggedIn && roles=='admin'">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Payments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="text-primary" (click)="router.navigate([''])">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a class="text-primary"
                                (click)="router.navigate(['user/payments'])">Payment</a></li>
                        <li class="breadcrumb-item active">{{this.id}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row g-5">
                <div class=" col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Payment Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table p-3">
                                <tr>
                                    <td>ID</td>
                                    <td>{{this.payment?.id}}</td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td>{{this.payment?.userID}}</td>
                                </tr>
                                <tr>
                                    <td>Promo</td>
                                    <td>{{this.payment?.promo}}</td>
                                </tr>
                                <tr>
                                    <td>Payment Method</td>
                                    <td>{{this.payment?.paymentMethod}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{this.payment?.paymentRetrieve}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Created</td>
                                    <td>{{this.payment?.created | date:'short'}}</td>
                                </tr> -->
                            </table>
                        </div>
                        <!-- <div class="card-footer p-2" *ngIf="this.payment?.status == 0 || this.withdrawal?.status  == 1">
                            <button (click)="openModal('d')" class="btn btn-default" type="button">Decline Request</button>
                            <button (click)="openModal('a')" class="ml-2 btn btn-primary" type="button" *ngIf="this.withdrawal?.status == 0">Accept Request</button>
                            <button (click)="openModal('c')" class="ml-2 btn btn-primary" type="button" *ngIf="this.withdrawal?.status == 1">Complete Payment Request</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>