<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;" *ngIf="isLoggedIn && roles=='admin'">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="text-primary" (click)="router.navigate([''])">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a class="text-primary"
                                (click)="router.navigate(['user/list'])">User List</a></li>
                        <li class="breadcrumb-item active">{{this.id}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row g-5">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table p-3">
                                <tr>
                                    <td>ID</td>
                                    <td>{{this.user?.id}}</td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>{{this.user?.name}}</td>
                                </tr>
                                <tr>
                                    <td>Balance</td>
                                    <td>{{this.user?.balance}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Active Bookings</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Pick Up</th>
                                        <th>Drop Off</th>
                                        <th>Status</th>
                                        <th>Payment</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="booking?.length == 0">
                                        <td colspan="7">No Active Booking Found</td>
                                    </tr>
                                    <tr *ngFor="let c of this.booking; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.startLocName}}</td>
                                        <td>{{c.endLocName}}</td>
                                        <td></td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="peekPayment(c.payment)" class="btn btn-primary"><i
                                                        class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="peekBooking(c.id)" class="btn btn-primary"><i
                                                        class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ACTIVE PAYMENT -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Active Payment</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Pick Up</th>
                                        <th>Drop Off</th>
                                        <th>Status</th>
                                        <th>Payment</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="booking?.length == 0">
                                        <td colspan="7">No Active Booking Found</td>
                                    </tr>
                                    <tr *ngFor="let c of this.booking; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.startLocName}}</td>
                                        <td>{{c.endLocName}}</td>
                                        <td></td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="peekPayment(c.payment)" class="btn btn-primary"><i
                                                        class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="peekBooking(c.id)" class="btn btn-primary"><i
                                                        class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">All Bookings</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Pick Up</th>
                                        <th>Drop Off</th>
                                        <th>Status</th>
                                        <th>Payment</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="booking?.length == 0">
                                        <td colspan="7">No Active Booking Found</td>
                                    </tr>
                                    <tr *ngFor="let c of this.booking; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.startLocName}}</td>
                                        <td>{{c.endLocName}}</td>
                                        <td></td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="peekPayment(c.payment)" class="btn btn-primary"><i
                                                        class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="peekBooking(c.id)" class="btn btn-primary"><i
                                                        class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
