<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard v2</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v2</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Main Recap Report</h5>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Booking:  {{firstDay | date:'longDate'}} - {{lastDay | date:'longDate'}}</strong>
                  </p>

                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas id="visitors-chart" height="200"></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Goal Completion</strong>  
                  </p>

                  <div class="progress-group">
                    Today Booking
                    <span class="float-right"><b>{{this.data?.todayBooking}}</b>/{{this.data?.todayGoal}}</span>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-primary" [ngStyle]="{'width': this.wToday+'%'}"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->

                  <div class="progress-group">
                    This Month Booking
                    <span class="float-right"><b>{{this.data?.monthBooking}}</b>/{{this.data?.monthBooking}}</span>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-danger" [ngStyle]="{'width': this.wMonth+'%'}"></div>
                    </div>
                  </div>

                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">This Year Booking</span>
                    <span class="float-right"><b>{{this.data?.yearBooking}}</b>/{{this.data?.yearBooking}}</span>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-success" [ngStyle]="{'width': this.wYear+'%'}"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">

                    <span class="description-percentage text-success" *ngIf="this.data?.todayRevenue>this.data?.yesterdayRevenue"><i class="fas fa-caret-up"></i> {{(this.data?.yesterdayRevenue == 0) ? this.data?.todayRevenue/1*100:this.data?.todayRevenue/this.data?.yesterdayRevenue*100}}%</span>
                    <span class="description-percentage text-warning" *ngIf="this.data?.todayRevenue==this.data?.yesterdayRevenue"><i class="fas fa-caret-left"></i> {{(this.data?.yesterdayRevenue == 0) ? this.data?.todayRevenue/1*100:this.data?.todayRevenue/this.data?.yesterdayRevenue*100}}%</span>
                    <span class="description-percentage text-danger" *ngIf="this.data?.todayRevenue<this.data?.yesterdayRevenue"><i class="fas fa-caret-down"></i> {{(this.data?.yesterdayRevenue == 0) ? this.data?.todayRevenue/1*100:this.data?.todayRevenue/this.data?.yesterdayRevenue*100}}%</span>

                    <h5 class="description-header">{{this.data?.todayRevenue}}</h5>
                    <span class="description-text">TODAY REVENUE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success" *ngIf="this.data?.todayDriver>this.data?.yesterdayDriver"><i class="fas fa-caret-up"></i> {{(this.data?.yesterdayDriver == 0) ? this.data?.todayDriver/1*100: this.data?.todayDriver/this.data?.yesterdayDriver*100}}%</span>
                    <span class="description-percentage text-warning" *ngIf="this.data?.todayDriver==this.data?.yesterdayDriver"><i class="fas fa-caret-left"></i> {{(this.data?.yesterdayDriver == 0) ? this.data?.todayDriver/1*100: this.data?.todayDriver/this.data?.yesterdayDriver*100}}%</span>
                    <span class="description-percentage text-danger" *ngIf="this.data?.todayDriver<this.data?.yesterdayDriver"><i class="fas fa-caret-down"></i> {{(this.data?.yesterdayDriver == 0) ? this.data?.todayDriver/1*100: this.data?.todayDriver/this.data?.yesterdayDriver*100}}%</span>

                    <h5 class="description-header">{{this.data?.todayDriver}}</h5>
                    <span class="description-text">TODAY DRIVER INCOME</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success" *ngIf="this.data?.todayBooking>this.data?.yesterdayBooking"><i class="fas fa-caret-up"></i> {{(this.data?.yesterdayBooking == 0) ? this.data?.todayBooking/1*100 :this.data?.todayBooking/this.data?.yesterdayBooking*100}}%</span>
                    <span class="description-percentage text-warning" *ngIf="this.data?.todayBooking==this.data?.yesterdayBooking"><i class="fas fa-caret-left"></i> {{(this.data?.yesterdayBooking == 0) ? this.data?.todayBooking/1*100 :this.data?.todayBooking/this.data?.yesterdayBooking*100}}%</span>
                    <span class="description-percentage text-danger" *ngIf="this.data?.todayBooking<this.data?.yesterdayBooking"><i class="fas fa-caret-down"></i> {{(this.data?.yesterdayBooking == 0) ? this.data?.todayBooking/1*100 :this.data?.todayBooking/this.data?.yesterdayBooking*100}}%</span>
                    
                    <h5 class="description-header">{{this.data?.todayBooking}}</h5>
                    <span class="description-text">TODAY BOOKING</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-6">
                  <div class="description-block">
                    <span class="description-percentage text-success" *ngIf="this.data?.todayCompletion>this.data?.yesterdayCompletion"><i class="fas fa-caret-up"></i> {{(this.data?.yesterdayCompletion == 0) ? this.data?.todayCompletion/1*100 :this.data?.todayCompletion/this.data?.yesterdayCompletion*100}}%</span>
                    <span class="description-percentage text-warning" *ngIf="this.data?.todayCompletion==this.data?.yesterdayCompletion"><i class="fas fa-caret-left"></i> {{(this.data?.yesterdayCompletion == 0) ? this.data?.todayCompletion/1*100 :this.data?.todayCompletion/this.data?.yesterdayCompletion*100}}%</span>
                    <span class="description-percentage text-danger" *ngIf="this.data?.todayCompletion<this.data?.yesterdayCompletion"><i class="fas fa-caret-down"></i> {{(this.data?.yesterdayCompletion == 0) ? this.data?.todayCompletion/1*100 :this.data?.todayCompletion/this.data?.yesterdayCompletion*100}}%</span>

                    <h5 class="description-header">{{this.data?.todayCompletion}}</h5>
                    <span class="description-text">GOAL COMPLETIONS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
          <!-- MAP & BOX PANE -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Current Active Driver Report</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="d-md-flex">
                <div class="p-1 flex-fill">
                  <div class="map" style="height: 325px" id="map"></div>
                    
                </div>
                <!-- <div class="card-pane-right bg-success pt-2 pb-2 pl-4 pr-4">
                  <div class="description-block mb-4">
                    <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                    <h5 class="description-header">8390</h5>
                    <span class="description-text">Visits</span>
                  </div>
                  <div class="description-block mb-4">
                    <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                    <h5 class="description-header">30%</h5>
                    <span class="description-text">Referrals</span>
                  </div>
                  <div class="description-block">
                    <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                    <h5 class="description-header">70%</h5>
                    <span class="description-text">Organic</span>
                  </div>
                </div>-->
              </div><!-- /.d-md-flex -->
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>