<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Withdrawal Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="text-primary" (click)="router.navigate([''])">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a class="text-primary"
                                (click)="router.navigate(['user/withdrawal'])">Withdrawal</a></li>
                        <li class="breadcrumb-item active">{{this.id}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row g-5">
                <div class=" col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Withdrawal Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table p-3">
                                <tr>
                                    <td>ID</td>
                                    <td>{{this.withdrawal?.id}}</td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td>{{this.withdrawal?.userID}}</td>
                                </tr>
                                <tr>
                                    <td>Balance Requested</td>
                                    <td>{{this.withdrawal?.balance}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Last Balance</td>
                                    <td></td>
                                </tr> -->
                                <tr>
                                    <td>Status</td>
                                    <td>{{this.withdrawal?.status}}</td>
                                </tr>
                                <tr>
                                    <td>Created</td>
                                    <td>{{this.withdrawal?.created | date:'short'}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer p-2" *ngIf="this.withdrawal?.status == 0 || this.withdrawal?.status  == 1">
                            <button (click)="openModal('d')" class="btn btn-default" type="button">Decline Request</button>
                            <button (click)="openModal('a')" class="ml-2 btn btn-primary" type="button" *ngIf="this.withdrawal?.status == 0">Accept Request</button>
                            <button (click)="openModal('c')" class="ml-2 btn btn-primary" type="button" *ngIf="this.withdrawal?.status == 1">Complete Payment Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please make sure before continue to <b id="vstatus"></b>.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="this.proccess()" type="button" class="btn btn-default">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>