<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Withdrawals</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Withdrawals</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
                <h3 class="card-title">Recent Withdrawals Requests</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>User ID</th>
                            <th>Balance</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="filterRequest()?.length == 0">
                            <td colspan="5">No Withdrawals Listed</td>
                          </tr>
                          <tr *ngFor="let x of this.filterRequest(); let i = index">
                            <td>{{i+1}}</td>
                            <td>{{x.userID}}</td>
                            <td>{{x.balance}}</td>
                            <td>{{x.created | date:'short'}}</td>
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                  <a (click)="this.router.navigate(['user/withdrawal/'+x.id])" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                </div>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
                <h3 class="card-title">Waiting for finishing withdrawal actions</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>User ID</th>
                            <th>Balance</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="filterNeedFinishing()?.length == 0">
                            <td colspan="5">No Withdrawals Listed</td>
                          </tr>
                          <tr *ngFor="let x of this.filterNeedFinishing(); let i = index">
                            <td>{{i+1}}</td>
                            <td>{{x.userID}}</td>
                            <td>{{x.balance}}</td>
                            <td>{{x.created | date:'short'}}</td>
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                  <a (click)="this.router.navigate(['user/withdrawal/'+x.id])" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                </div>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Withdrawals</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>ID</th>
                            <th>User ID</th>
                            <th>Balance</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="withdrawals?.length == 0">
                            <td colspan="5">No Withdrawals Listed</td>
                          </tr>
                          <tr *ngFor="let x of this.withdrawals; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{x.id}}</td>
                            <td>{{x.userID}}</td>
                            <td>{{x.balance}}</td>
                            <td>{{x.status}}</td>
                            <td>{{x.created | date:'short'}}</td>
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                  <a (click)="this.router.navigate(['user/withdrawal/'+x.id])" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                </div>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>