<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;" *ngIf="isLoggedIn && roles=='admin'">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ride Class</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Ride Class</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Insert New Ride Class</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
              <form *ngIf="isLoggedIn && roles == 'admin'" name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm" class="form" novalidate>
            <div class="card-body">
                <div class="form-group">
                  <input placeholder="Name" class="form-control form-control-sm" type="text"
                  name="className" [(ngModel)]="form.className"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <input placeholder="Price" class="form-control form-control-sm" type="text"
                    name="price" [(ngModel)]="form.price"
                    #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                  </div>
                  <div class="form-group col-6">
                    <input placeholder="Pax" class="form-control form-control-sm" type="text"
                    name="pax" [(ngModel)]="form.pax"
                    #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                  </div>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
                  Unable to procced!<br />{{ errorMessage }}
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSuccessfull">
                  Success add new promo
                </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button *ngIf="isEdit == true" type="button" class="btn btn-default ml-1" (click)="this.cancelPeek()">Cancel</button>
            </div>
          </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Active Ride Class</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Price/ KM</th>
                    <th>Pax</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="rideclass?.length == 0" >
                    <td colspan="5">No Promo Listed</td>
                </tr>
                <tr *ngFor="let c of this.rideclass; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.className}}</td>
                    <td>{{c.price}}</td>
                    <td>{{c.pax}}</td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekItem(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                        <a (click)="openModal(c.id)" class="btn btn-default"><i class="fas fa-trash"></i></a>
                      </div>
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="modal fade" id="modal-remove">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please make sure before deactive Ride Class.</p>
      </div>
      <div class="modal-footer justify-content-between">
        <input type="hidden">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="deactiveItem()">Deactive Ride Class</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>