<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>
<div class="col-md-4 m-3 mx-auto" *ngIf="isLoggedIn">
    <div class="card p-3">
      <div class="list-group">
        <span class="alert bg-primary" *ngIf="notif?.length == 0">No notification yet</span>
        <div class="list-group-item list-group-item-action mb-3 rounded shadow-sm" *ngFor="let n of this.notif">
          {{n.title}}
          {{n.subtitle}}
        </div> 
      </div>
    </div>
</div>