<div class="col-lg-5 col-12 m-3 mx-auto" *ngIf="isLoggedIn && roles=='driver'">
    <div *ngFor="let j of this.job" class="card p-3 mb-2 d-block">
        <span class="badge bg-success">{{j.id | slice: 0:5}}...</span>
        <p class="m-0"><i class="me-2 bi bi-geo-alt-fill"></i>{{j.startLocName}}</p>
        <p><i class="me-2 bi bi-geo-alt-fill"></i>{{j.endLocName}}</p>
        <button class="btn btn-sm btn-primary" (click)="takejob(j.id)">Take job</button>
    </div>
</div>