<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;" *ngIf="isLoggedIn && roles=='admin'">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Payment Method</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Payment Method</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Active Payment Method</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Icon</th>
                    <th>Name</th>
                    <th>Fee</th>
                    <th>URL</th>
                  </tr>
                </thead>
                <tbody>
                <tbody>
                  <tr *ngIf="paymentM?.length == 0">
                    <td colspan="5">No Promo Listed</td>
                  </tr>
                  <tr *ngFor="let c of this.paymentM; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.icon}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.fee}}</td>
                    <td>{{c.url}}</td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekItem(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                        <a (click)="openModal(c.id)" class="btn btn-default"><i class="fas fa-trash"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-5">
          <div class="card card-default">

            <form *ngIf="isLoggedIn && roles == 'admin'" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
              class="form" novalidate>
              <div class="card-header">
                <h3 class="card-title">Insert New Payment Method</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-6">
                    <input placeholder="Name" class="form-control form-control-sm" type="text"
                    name="name" [(ngModel)]="form.name"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                  </div>
                  <div class="form-group col-6">
                    <input placeholder="Fee" class="form-control form-control-sm" type="number"
                    name="fee" [(ngModel)]="form.fee"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                  </div>
                </div>
                <div class="form-group">
                  <input placeholder="URL" class="form-control form-control-sm" type="text"
                  name="url" [(ngModel)]="form.url"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                </div>
                <div class="form-group">
                  <input placeholder="Icon" class="form-control form-control-sm" type="text"
                  name="icon" [(ngModel)]="form.icon"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                </div>
                
                <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
                  Unable to procced!<br />{{ errorMessage }}
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSuccessfull">
                  Success add new promo
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button *ngIf="isEdit == true" type="button" class="btn btn-default ml-1" (click)="this.cancelPeek()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="modal fade" id="modal-remove">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please make sure before deactive Ride Class.</p>
      </div>
      <div class="modal-footer justify-content-between">
        <input type="hidden">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="deactiveItem()">Deactive Ride Class</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!-- <div class="col-md-8 m-3 mx-auto">
    <div class="border p-3 row">
      <form
        *ngIf="isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        class="form col-md-6 col-12"
        novalidate
      >
        <div class="form-group">
          <label for="paymentT">Payment Type</label>
          <input
            type="text"
            class="form-control"
            name="paymentT"
            [(ngModel)]="form.paymentT"
            required
            minlength="3"
            maxlength="20"
            #paymentT="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && paymentT.errors }"
          />
          <div class="invalid-feedback" *ngIf="paymentT.errors && f.submitted">
            <div *ngIf="paymentT.errors['required']">Input is required</div>
            <div *ngIf="paymentT.errors['minlength']">
              Value must be at least 3 characters
            </div>
            <div *ngIf="paymentT.errors['maxlength']">
              Value must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary btn-block">Save</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
      <hr class="hr d-md-none d-block mt-3" />
      <div class="col-md-6 col-12">
        List  
        <table>
          <tr><th>Name</th></tr>
          <tr *ngFor="let pM of this.paymentM"><td>{{pM.type}}</td></tr>
        </table>
      </div>
</div> -->