<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;" *ngIf="isLoggedIn && roles=='admin'">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Payments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Payments</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Retrieved Payments</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>P.Method</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="this.filterRecent()?.length == 0">
                                        <td colspan="5">No Payment Retrieved</td>
                                    </tr>
                                    <tr *ngFor="let c of this.filterRecent(); let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.id}}</td>
                                        <td>{{c.userID}}</td>
                                        <td>{{c.paymentMethod}}</td>
                                        <td>{{c.total}}</td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Recent Payment Request</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>P.Method</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="payment?.length == 0">
                                        <td colspan="5">No Payment Retrieved</td>
                                    </tr>
                                    <tr *ngFor="let c of this.payment; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.id}}</td>
                                        <td>{{c.userID}}</td>
                                        <td>{{c.paymentMethod}}</td>
                                        <td>{{c.total}}</td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="this.router.navigate(['user/payments/'+c.id])" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">All Payments</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>Payment Method</th>
                                        <th>Promo</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="payment?.length == 0">
                                        <td colspan="7">No Payment Retrieved</td>
                                    </tr>
                                    <tr *ngFor="let c of this.payment; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.id}}</td>
                                        <td>{{c.userID}}</td>
                                        <td>{{c.paymentMethod}}</td>
                                        <td>{{c.promo}}</td>
                                        <td>{{c.total}}</td>
                                        <td></td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a (click)="this.router.navigate(['user/payments/'+c.id])" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>