<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;" *ngIf="isLoggedIn && roles=='admin'">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Driver Detail</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a class="text-primary" (click)="router.navigate([''])">Home</a>
            </li>
            <li class="breadcrumb-item"><a class="text-primary" (click)="router.navigate(['driver/list'])">Driver
                List</a></li>
            <li class="breadcrumb-item active">{{this.id}}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row g-5">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Driver Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="image m-3 d-flex">
                <img [src]="urlFix(this.user?.profile) | secureImage" class="mx-auto img-circle elevation-2"
                  alt="User Image" title="" height="150" width="150">
              </div>
              <table class="table p-3">
                <tr>
                  <td>ID</td>
                  <td>{{this.user?.id}}</td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>{{this.user?.name}}</td>
                </tr>
                <tr>
                  <td>Verified</td>
                  <td>{{this.user?.verified}}</td>
                </tr>
                <tr>
                  <td>Offline</td>
                  <td>{{this.user?.offline}}</td>
                </tr>
                <tr>
                  <td>Taking Job</td>
                  <td>{{this.user?.takingJob}}</td>
                </tr>
                <tr>
                  <td>Balance</td>
                  <td>{{this.user?.balance}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Active Bookings</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Pick Up</th>
                    <th>Drop Off</th>
                    <th>Status</th>
                    <th>Payment</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="booking?.length == 0">
                    <td colspan="7">No Active Booking Found</td>
                  </tr>
                  <tr *ngFor="let c of this.booking; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.startLocName}}</td>
                    <td>{{c.endLocName}}</td>
                    <td></td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekPayment(c.payment)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekBooking(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"> 
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Verification Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table p-3">
                <tr>
                  <td>SIM</td>
                  <td>
                    <div *ngIf="this.user?.sim">
                      <img [src]="urlFix(this.user?.sim) | secureImage" class="elevation-2" alt="User Image" title=""
                        height="150" width="150">
                    </div>
                    <div class="bg-success mt-2 p-2 d-flex rounded" *ngIf="this.user?.statusSIM == 2">
                      <span class="col-auto"><i class="fa fa-check"></i></span>
                      <div class="col">Valid</div>
                    </div>
                    <div class="bg-danger mt-2 p-2 d-flex rounded" *ngIf="this.user?.statusSIM == -1">
                      <span class="col-auto"><i class="fa fa-x"></i></span>
                      <div class="col">Denied</div>
                    </div>
                    <div class="mt-2" *ngIf="this.user?.statusSIM == 1">
                      <button type="button" class="btn btn-sm btn-primary">Accept</button>
                      <button type="button" class="btn btn-sm btn-default ml-2">Decline</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>STNK</td>
                  <td>
                    <div *ngIf="this.user">
                      <img *ngFor="let x of this.user?.stnk" [src]="urlFix(x) | secureImage" class="elevation-2"
                        alt="User Image" title="" height="150" width="150">
                    </div>
                    <div class="bg-success mt-2 p-2 d-flex rounded" *ngIf="this.user?.statusSTNK == 2">
                      <span class="col-auto"><i class="fa fa-check"></i></span>
                      <div class="col">Valid</div>
                    </div>
                    <div class="bg-danger mt-2 p-2 d-flex rounded" *ngIf="this.user?.statusSTNK == -1">
                      <span class="col-auto"><i class="fa fa-x"></i></span>
                      <div class="col">Denied</div>
                    </div>
                    <div class="mt-2" *ngIf="this.user?.statusSTNK == 1">
                      <button type="button" class="btn btn-sm btn-primary">Accept</button>
                      <button type="button" class="btn btn-sm btn-default ml-2">Decline</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Withdrawal</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>ID</th>
                    <th>Balance</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="withdrawals?.length == 0">
                    <td colspan="5">No Withdrawals Listed</td>
                  </tr>
                  <tr *ngFor="let x of this.withdrawals; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                      <a (click)="this.router.navigate(['user/withdrawal/'+x.id])">{{x.id}}</a>
                    </td>
                    <td>{{x.balance}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.created | date:'short'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">All Bookings Job History</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Pick Up</th>
                    <th>Drop Off</th>
                    <th>Status</th>
                    <th>Payment</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="booking?.length == 0">
                    <td colspan="7">No Booking History Found</td>
                  </tr>
                  <tr *ngFor="let c of this.booking; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.startLocName}}</td>
                    <td>{{c.endLocName}}</td>
                    <td></td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekPayment(c.payment)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="peekBooking(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
