<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Car</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Car</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card card-default" *ngIf="false">
            <div class="card-header">
              <h3 class="card-title">Insert Manual Car</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="form-group">
                <input placeholder="Driver ID" class="form-control form-control-sm" type="text">
              </div>
              <div class="row">
                <div class="form-group col-9">
                  <input placeholder="Ro" class="form-control form-control-sm" type="text">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">New Verification Requests</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Driver</th>
                    <th>Plate</th>
                    <th>Ride Class</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="this.filterVerified().length == 0">
                    <td colspan="5">No New Verification Car Request</td>
                  </tr>
                  <tr *ngFor="let c of this.filterVerified(); let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.driver}}</td>
                    <td>{{c.plate}}</td>
                    <td>{{rideClassMe(c.rideClass)}}</td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="this.router.navigate(['/user/car/'+c.id])" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">All Car</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Driver</th>
                    <th>Plate</th>
                    <th>Ride Class</th>
                    <th>Verified</th>
                    <th style="width: 10px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="car?.length == 0">
                    <td colspan="5">No New Verification Car Request</td>
                  </tr>
                  <tr *ngFor="let c of this.car; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{c.driver}}</td>
                    <td>{{c.plate}}</td>
                    <td>{{rideClassMe(c.rideClass)}}</td>
                    <td>{{c.verified}}</td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a (click)="this.router.navigate(['/user/car/'+c.id])" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>