<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 80vh;" *ngIf="isLoggedIn && roles=='admin'">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Driver List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Driver List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Verification Request</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>Verification</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="filterVerification()?.length == 0">
                                        <td colspan="5">No New Verification Request Found</td>
                                    </tr>
                                    <tr *ngFor="let c of this.filterVerification(); let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.id}}</td>
                                        <td>{{c.name}}</td>
                                        <td>{{c.verified}}</td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a 
                                                (click)="peekDetail(c.id)"
                                                    class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">All Driver</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>Verification</th>
                                        <th>On Job</th>
                                        <th>Online</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="user?.length == 0">
                                        <td colspan="3">No Driver Exist</td>
                                    </tr>
                                    <tr *ngFor="let c of this.user; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{c.id}}</td>
                                        <td>{{c.name}}</td>
                                        <td>{{c.verified}}</td>
                                        <td>{{c.takingJob}}</td>
                                        <td>{{(c.offline) ? 'Offline':'Online'}}</td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a 
                                                (click)="peekDetail(c.id)"
                                                    class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>