<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" *ngIf="isLoggedIn && roles!=='driver'">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Promo</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Promo</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
                <h3 class="card-title">Incoming Promo</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Title</th>
                        <th>Discount</th>
                        <th>Code</th>
                        <th>D.Start</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="filterIncoming()?.length == 0" >
                        <td colspan="6">No Incoming Promo</td>
                    </tr>
                    <tr *ngFor="let c of this.filterIncoming(); let i = index">
                        <td>{{i+1}}</td>
                        <td>{{c.title}}</td>
                        <td>{{c.discount}}%</td>
                        <td>{{c.code}}</td>
                        <td>{{c.dateStart | date:'shortDate':'GMT+9'}}</td>
                        <td class="text-right py-0 align-middle">
                          <div class="btn-group btn-group-sm">
                            <a (click)="peekPromo(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                            <a (click)="openModal(c.id)" class="btn btn-default"><i class="fas fa-trash"></i></a>
                          </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="card">
            <div class="card-header">
                <h3 class="card-title">Active Promo</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Title</th>
                        <th>Discount</th>
                        <th>Code</th>
                        <th style="width: 40px">D.End</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="filterActive()?.length == 0">
                        <td colspan="6">No Promo Currently Active</td>
                    </tr>
                    <tr *ngFor="let c of this.filterActive(); let i = index">
                        <td>{{i+1}}</td>
                        <td>{{c.title}}</td>
                        <td>{{c.discount}}%</td>
                        <td>{{c.code}}</td>
                        <td>{{c.dateEnd | date:'shortDate':'GMT+9'}}</td>
                        <td class="text-right py-0 align-middle">
                          <div class="btn-group btn-group-sm">
                            <a (click)="peekPromo(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                            <a (click)="openModal(c.id)" class="btn btn-default"><i class="fas fa-trash"></i></a>
                          </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-7">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Insert New Promo</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form *ngIf="isLoggedIn && roles == 'admin'" name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm" class="form" novalidate>
              <div class="form-group">
                <input placeholder="Title" class="form-control form-control-sm" type="text"
                name="title" [(ngModel)]="form.title" minlength="3"
                #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.errors }" required>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <label>Date Start</label>
                  <input placeholder="Date Start" class="form-control form-control-sm" type="date"
                  name="dateStart" [(ngModel)]="form.dateStart"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                </div>
                <div class="form-group col-3">
                  <label>Date End</label>
                  <input placeholder="Date End" class="form-control form-control-sm" type="date"
                  name="dateEnd" [(ngModel)]="form.dateEnd"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                </div>
                <div class="form-group col-3">
                  <label>Discount %</label>
                  <input placeholder="Discount" class="form-control form-control-sm" type="text"
                  name="discount" [(ngModel)]="form.discount"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                </div>
                <div class="form-group col-3">
                  <label>Custome Code</label>
                  <input placeholder="Code" class="form-control form-control-sm" type="text"
                  name="code" [(ngModel)]="form.code" minlength="3"
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }">
                </div>
              </div>
                <div class="form-group">
                  <textarea id="compose-textarea" class="form-control"
                  name="body" [(ngModel)]="form.body" #body
                  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" [value]="form.body"></textarea>
              </div>
              <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
                Unable to procced!<br />{{ errorMessage }}
              </div>
              <div class="alert alert-warning" *ngIf="f.submitted && isSuccessfull">
                Success add new promo
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <button *ngIf="isEdit == true" type="button" class="btn btn-default ml-1" (click)="this.cancelPeek()">Cancel</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Promo</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Title</th>
                            <th style="width: 10px">Discount</th>
                            <th>Code</th>
                            <th>Date Start</th>
                            <th>Date End</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="coupon?.length == 0" >
                            <td colspan="6">No Promo Listed</td>
                        </tr>
                        <tr *ngFor="let c of this.coupon; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{c.title}}</td>
                            <td>{{c.discount}}%</td>
                            <td>{{c.code}}</td>
                            <td>{{c.dateStart | date:'shortDate':'GMT+9'}}</td>
                            <td>{{c.dateEnd | date:'shortDate':'GMT+9'}}</td>
                            <td>{{(this.todayDate<(c.dateEnd))?'Incoming': (this.todayDate >= (c.dateStart) && (c.dateEnd) >= this.todayDate) ? 'Active' : 'Expired'}}</td>

                            <td class="text-right py-0 align-middle">
                              <div class="btn-group btn-group-sm">
                                <a (click)="peekPromo(c.id)" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                <a (click)="openModal(c.id)" class="btn btn-default"><i class="fas fa-trash"></i></a>
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="modal fade" id="modal-remove">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please make sure before deactive promo.</p>
      </div>
      <div class="modal-footer justify-content-between">
        <input type="hidden">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="deactivePromo()">Deactive Promo</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
