<app-nav-side></app-nav-side>
<app-nav-top></app-nav-top>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Car Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="text-primary" (click)="router.navigate([''])">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a class="text-primary"
                                (click)="router.navigate(['user/car'])">Car</a></li>
                        <li class="breadcrumb-item active">{{this.id}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row g-5">
                <div class=" col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Car Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table p-3">
                                <tr>
                                    <td>Id</td>
                                    <td>{{this.car?.id}}</td>
                                </tr>
                                <tr>
                                    <td>Driver</td>
                                    <td>{{this.car?.driver}}</td>
                                </tr>
                                <tr>
                                    <td>Ride Class</td>
                                    <td>
                                        <div class="d-flex" *ngIf="!isEditRideClass">
                                            <p class="mr-auto">{{rideClassMe(this.car?.rideClass)}}</p>
                                            <div class="ml-1 btn-group btn-group-sm" (click)="isEditRideClass = true">
                                                <a class="btn btn-default btn-sm"><i class="fas fa-edit"></i></a>
                                            </div>
                                        </div>
                                        <div class="d-flex" *ngIf="isEditRideClass">
                                            <select class="form-control form-control-sm"
                                            name="rideClass" [(ngModel)]="form.rideClass" minlength="3"
                                            #title="ngModel" (change)="changeRideClass($event)">
                                                <option *ngFor="let c of this.rideclass; let i = index" value='{{c.id}}'>{{c.className}}</option>
                                            </select>
                                            <div class="ml-2 btn-group btn-group-sm" (click)="update('rideclass')">
                                                <a class="btn btn-primary"><i class="fas fa-check"></i></a>
                                              </div>
                                              <div class="ml-1 btn-group btn-group-sm" (click)="isEditRideClass = false">
                                                <a class="btn btn-default"><i class="fas fa-times"></i></a>
                                              </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Plate</td>
                                    <td>
                                        <div class="d-flex" *ngIf="!isEditPlate">
                                            <p class="mr-auto">{{this.car?.plate}}</p>
                                            <div class="ml-1 btn-group btn-group-sm" (click)="isEditPlate = true">
                                                <a class="btn btn-default btn-sm"><i class="fas fa-edit"></i></a>
                                            </div>
                                        </div>
                                        <div class="d-flex" *ngIf="isEditPlate">
                                            <input type="text" class="form-control form-control-sm"
                                            name="plate" [(ngModel)]="form.plate" minlength="3"
                                            #title="ngModel">
                                            <div class="ml-2 btn-group btn-group-sm" (click)="update('plate')">
                                                <a class="btn btn-primary"><i class="fas fa-check"></i></a>
                                              </div>
                                              <div class="ml-1 btn-group btn-group-sm" (click)="isEditPlate = false">
                                                <a class="btn btn-default"><i class="fas fa-times"></i></a>
                                              </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Verified Status</td>
                                    <td>{{this.car?.verified}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Maps</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-md-0">
                <div class="card w-100">
                    <div class="card-header">
                        <h3 class="card-title">Verification</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-3">
                        <div class="col-md-3" *ngFor="let c of this.car?.photo">
                            <img [src]="urlFix(c) | secureImage" height="300" />
                        </div>
                    </div>
                    <div class="card-footer" *ngIf="this.car?.verified == false">
                        <button (click)="this.openModal(true)" type="button"
                            class="btn btn-sm btn-primary">Accept</button>
                        <button (click)="this.openModal(false)" type="button"
                            class="btn btn-sm btn-default ml-2">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please make sure before continue to <b id="vstatus"></b>.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" (click)="setVerification()">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>