<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4" *ngIf="isLoggedIn">
    <!-- Brand Logo -->
    <a href="assets/index3.html" class="brand-link">
      <span class="brand-text font-weight-light">AdminTaxi</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" title="">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{this.names | titlecase }}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate([''])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate(['user/booking'])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Booking<span class="badge badge-info right" *ngIf="this.booking > 0">{{this.booking}}</span></p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate(['user/coupon'])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Promo</p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate(['user/rideclass'])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Ride Class</p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate(['user/car'])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Car<span class="badge badge-info right" *ngIf="this.car > 0">{{this.car}}</span></p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate(['user/payments'])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Payment<span class="badge badge-info right" *ngIf="this.payment > 0">{{this.payment}}</span></p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate(['user/paymentM'])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Payment Method</p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="router.navigate(['user/withdrawal'])" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Withdrawal</p>
            </a>
          </li>
          <li class="nav-header">EXAMPLES</li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="viewClient()" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>User</p>
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.roles == 'admin'" (click)="viewDriver()" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>Driver</p>
            </a>
          </li>
          <li class="nav-header">OPTIONS</li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 100%; transform: translate(0px);"></div></div>
  </div>
  <div class="os-scrollbar-corner"></div>
</aside>